<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>NO TIENE ACCESO DEBE VALIDARSE COMO UN USUARIO VALIDO.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
